body {margin:0px 10px 0px 0px;}

#active {
    color:red;
  }
  a {
    color:black;
    text-decoration: none;
  }
  h1 {
    font-size:45px;
    text-align: center;
    border-bottom: 2px gray solid;
    margin:0;
    padding: 5px 0px 15px 0px;
    background-color: lemonchiffon;
  }
/*
li a {
    display: block;
    margin-bottom: 5px;
}
li a:hover {
    background-color:blueviolet;
    color: white;
}
*/
  #grid {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  #grid ol {
    border-right: 2px gray solid;
    margin:0;
    padding: 15px 0px 5px 45px;
    padding-left: 45px;
    width:100px;
    font-size: 25px;
    background-color: aliceblue;
  }
  #grid #content {
    padding-right: 280px;
    background-color: white;
  }
  #content img {
    margin: 20px 0px 20px 0px;
  }
  #content p {
    font-size: 20px;
  }
  @media(max-width:700px){
    h1 {
    font-size:40px;
    border-bottom: none;
    background-color: transparent;
    }
    #grid {
      display: block;
    }
    #grid ol {
      border-right: none; font-size: 20px;
      background-color: transparent;
    }
    #grid #content {
      padding: 0px 5px 0px 25px;
      background-color: transparent;
    }
    body {
      margin:0px 10px 0px 0px;
      background-color: aliceblue;
    }
  }

.dropdown1, .dropdown2, .dropdown3, .dropdown4, .dropdown5{
    position: relative;
    display: inline-block;
}
.dropdown-button {
    display: inline-block;
    border: none;
    width: 100px;
    margin-bottom: 5px;
}
.dropdown-content {
    display: none;
    position:absolute;
    top: 0px;
    left: 100px;
    background-color: white;
    min-width: 75px;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: blue;}
.dropdown1:hover .dropdown-content {display:block;}
.dropdown1:hover .dropdown-button {background-color: red;}
.dropdown2:hover .dropdown-content {display:block;}
.dropdown2:hover .dropdown-button {background-color: red;}
.dropdown3:hover .dropdown-content {display:block;}
.dropdown3:hover .dropdown-button {background-color: red;}
.dropdown4:hover .dropdown-content {display:block;}
.dropdown4:hover .dropdown-button {background-color: red;}
.dropdown5:hover .dropdown-content {display:block;}
.dropdown5:hover .dropdown-button {background-color: red;}